schemas/RNG/GLIF2/image.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" ns="" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<rng:define name="image">
<rng:attribute name="fileName">
<rng:data type="string"/>
</rng:attribute>
<rng:ref name="transformation"/>
<rng:optional>
<rng:attribute name="color">
<rng:ref name="color"/>
</rng:attribute>
</rng:optional>
</rng:define>
</rng:grammar>
