schemas/guideline.rnc

namespace rng = "http://relaxng.org/ns/structure/1.0"

guideline =
  attribute x { xsd:decimal }?,
  attribute y { xsd:decimal }?,
  attribute angle {
    xsd:decimal { minInclusive = "0" maxInclusive = "360" }
  }?,
  attribute name { xsd:string }?,
  attribute color { color }?,
  attribute identifier { xsd:string }?
