schemas/point1.rnc

namespace a0 = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace a1 = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rng = "http://relaxng.org/ns/structure/1.0"

point =
  attribute x { xsd:decimal },
  attribute y { xsd:decimal },
  [ a0:defaultValue = "offcurve" ]
  attribute type { "move" | "line" | "offcurve" | "curve" | "qcurve" }?,
  [ a1:defaultValue = "no" ] attribute smooth { "yes" | "no" }?,
  attribute name { xsd:string }?
