schemas/RNG/GLIF1/outline.rng

<?xml version="1.0" encoding="UTF-8"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" ns="" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<rng:define name="outline">
<rng:zeroOrMore>
<rng:choice>
<rng:element name="component">
<rng:ref name="component"/>
</rng:element>
<rng:element name="contour">
<rng:ref name="contour"/>
</rng:element>
</rng:choice>
</rng:zeroOrMore>
</rng:define>
</rng:grammar>
